{% extends "base.html" %}
{% block content %}
<article>
    <header>
        <h1>Categorización y catalogación de fuentes de información sobre ciberamenazas</h1>
        <p>Para una buena monitorización de amenazas es necesario disponer de fuentes de información fiables.</p>
        <p>En este punto cobra bastante importancia una buena categorización de las propias fuentes.</p>
        <p>Este proyecto está enfocado en recopilar fuentes de información, categorizarlas, analizarlas y almacenarlas en
            una base de datos.</p>
        <p>El potencial impacto de este trabajo es disponer de un sistema centralizado donde consultar las fuentes de
            información necesarias para la realización de una investigación sobre amenazas. De esta manera podrá
            consultarse cualquier dato en diversas fuentes de una manera organizada y obteniéndose un score por cada una
            de ellas para identificar que fiabilidad dispone.</p>
    </header>
</article>
{% endblock %}